<h1>Please Log In</h1>

<form action="/login" method="POST">
  <div>Username: <input type="text" name="username" placeholder="Username" required></div><br>
  <div>Password: <input type="password" name="password" placeholder="Password" required></div><br>
  <div><input type="submit" value="Log In"></div>
</form>
