<h2><%= @user.username%>'s Plants</h2>
<%@current_user = current_user%>
<a href="/plant_pots">View My Pots</a>

<%@user.plants.each do |plant|%>
  <div>Plant Name: <%= plant.name%><div>
  <div>Sunlight Level: <%= plant.sunlight%><div>
  <div>Water Level: <%= plant.water%><div>
<%end%>
