<h1>Create A New User!</h1>

<form action="/signup" method="POST">
  <div>Username: <input type="text" name="username" placeholder="Username" required></div><br>
  <div>Password: <input type="password" name="password" placeholder="Password" required></div><br>
  <div><input type="submit" value="Sign Up"></div>
</form>
