<h1>Plant Index</h1>
<% if logged_in?%>
<form action="/plants/new" method="POST">
  <input type="submit" value="Add New Plant">
</form>
<%@current_user = current_user%>
<a href="/users/<%=@current_user.id%>">View My Plants</a>
<% end %>

<h2>All Plants:</h2>
<%Plant.all.each do |plant|%>
  <ul><a href="/plants/<%=plant.id%>"><%=plant.name%></a></ul>
<%end%>


<% if logged_in?%>
  <form action="/logout" method="POST">
    <input type="submit" value="Logout">
  </form>
<%else%>
  <h3><a href="/signup">Signup</a></h3>
<% end %>
