<h1>Create A New Plant!</h1>

<form action="/plants" method="POST">
  <div>Name: <input type="text" name="name" placeholder="Plant Name" required></div><br>

  <div>Sunlight Level: </div>
    <div>High <input type="radio" name="sunlight" value="high"></input>
    Med <input type="radio" name="sunlight"value="medium"></input>
    Low <input type="radio" name="sunlight"value="low"></input></div><br>

  <div>Water Level: <br>
    High <input type="radio" name="water" value="high"></input>
    Med <input type="radio" name="water"value="medium"></input>
    Low <input type="radio" name="water"value="low"></input></div><br>

  <div><input type="submit" value="Create Plant!"></div>
</form>
