<h1>Plant Index</h1>
<% if logged_in?%>
<form action="/plant_pots/new" method="POST">
  <input type="submit" value="Add New Pot">
</form>
<% end %>


<%PlantPot.all.each do |pot|%>
  <ul><a href="/plant_pots/<%=pot.id%>">pot_<%=plant_pot.id%></a></ul>
<%end%>


<% if logged_in?%>
<form action="/logout" method="POST">
  <input type="submit" value="Logout">
</form>
<% end %>
